.mode-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 100%;
}

.mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 0.625rem;
  font-weight: bold;
  letter-spacing: 0.078rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: background-color 250ms ease, border 250ms ease, color 250ms ease;
}

.mode.active {
  color: #e74c3c;
}

.mode.inactive {
  color: #55efc4;
}

.mode.active:hover {
  background-color: rgba(231, 76, 60, 0.08);
}

.mode.inactive:hover {
  background-color: rgba(85, 239, 196, 0.08);
}

.mode.active.selected {
  background-color: rgba(231, 76, 60, 0.1);
  border-bottom: 1px solid #e74c3c;
}

.mode.inactive.selected {
  background-color: rgba(85, 239, 196, 0.1);
  border-bottom: 1px solid #55efc4;
}
