.preferences {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;
  justify-items: start;
  width: 100%;
  height: 100%;
  max-height: 512px;
  box-sizing: border-box;
}

.preferences-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: stretch;
  justify-items: stretch;
  align-content: start;
  align-items: stretch;
  row-gap: 0.5rem;
  width: 100%;
  height: 100%;
  min-height: 0;
  max-height: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  transition: color 250ms ease, background-color 250ms ease, border 250ms ease;
}

.inactive .preferences-list {
  color: #55efc4;
  background-color: rgba(85, 239, 196, 0.05);
  border: 1px solid #55efc4;
}

.active .preferences-list {
  color: #e74c3c;
  background-color: rgba(231, 76, 60, 0.05);
  border: 1px solid #e74c3c;
}

.set-redirect-url {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: start;
  justify-content: stretch;
  align-items: center;
  align-content: start;
  row-gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.inactive .set-redirect-url {
  border-bottom: 1px solid #55efc4;
}

.active .set-redirect-url {
  border-bottom: 1px solid #e74c3c;
}

.set-redirect-url__option {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  justify-items: start;
  justify-content: stretch;
  align-items: center;
  align-content: start;
  column-gap: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}

.set-redirect-url__header {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 0.875rem;
}

.set-redirect-url__text {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.set-redirect-url__field {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

.active .set-redirect-url__field {
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
  background-color: rgba(231, 76, 60, 0.08);
}

.inactive .set-redirect-url__field {
  color: #55efc4;
  border-bottom: 1px solid #55efc4;
  background-color: rgba(85, 239, 196, 0.08);
}

.invalid-url-anims {
  animation: shake 500ms ease-out;
  -o-animation: shake 500ms ease-out;
  -moz-animation: shake 500ms ease-out;
  -webkit-animation: shake 500ms ease-out;
}

/* animations */
@keyframes shake {
  0% {
    transform: translateX(0.3rem);
  }
  10% {
    transform: translateX(-0.3rem);
  }
  20% {
    transform: translateX(0.3rem);
  }
  30% {
    transform: translateX(-0.3rem);
  }
  40% {
    transform: translateX(0.3rem);
  }
  50% {
    transform: translateX(-0.3rem);
  }
  60% {
    transform: translateX(0.3rem);
  }
  70% {
    transform: translateX(-0.3rem);
  }
  80% {
    transform: translateX(0.3rem);
  }
  90% {
    transform: translateX(-0.3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@-o-keyframes shake {
  0% {
    transform: translateX(0.3rem);
  }
  10% {
    transform: translateX(-0.3rem);
  }
  20% {
    transform: translateX(0.3rem);
  }
  30% {
    transform: translateX(-0.3rem);
  }
  40% {
    transform: translateX(0.3rem);
  }
  50% {
    transform: translateX(-0.3rem);
  }
  60% {
    transform: translateX(0.3rem);
  }
  70% {
    transform: translateX(-0.3rem);
  }
  80% {
    transform: translateX(0.3rem);
  }
  90% {
    transform: translateX(-0.3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes shake {
  0% {
    transform: translateX(0.3rem);
  }
  10% {
    transform: translateX(-0.3rem);
  }
  20% {
    transform: translateX(0.3rem);
  }
  30% {
    transform: translateX(-0.3rem);
  }
  40% {
    transform: translateX(0.3rem);
  }
  50% {
    transform: translateX(-0.3rem);
  }
  60% {
    transform: translateX(0.3rem);
  }
  70% {
    transform: translateX(-0.3rem);
  }
  80% {
    transform: translateX(0.3rem);
  }
  90% {
    transform: translateX(-0.3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: translateX(0.3rem);
  }
  10% {
    transform: translateX(-0.3rem);
  }
  20% {
    transform: translateX(0.3rem);
  }
  30% {
    transform: translateX(-0.3rem);
  }
  40% {
    transform: translateX(0.3rem);
  }
  50% {
    transform: translateX(-0.3rem);
  }
  60% {
    transform: translateX(0.3rem);
  }
  70% {
    transform: translateX(-0.3rem);
  }
  80% {
    transform: translateX(0.3rem);
  }
  90% {
    transform: translateX(-0.3rem);
  }
  100% {
    transform: translateX(0);
  }
}
